##################################################
# Prod env installation specific variables


# the folder on kataweb ftp server where the distribution files are uploaded
FTP_DIST_FOLDER=espresso/prod

# Very important variables that can cause release script to malfunction if missing
MUSTBEDEFINED=(DISTDIRECTORY RELEASEDIRECTORY DEPLOYENVIRONMENT)

# Directory where the distribution files can be located 
DISTDIRECTORY="/var/lib/polopoly/dist/archive"

# Directory where the current release can be located
RELEASEDIRECTORY="/var/lib/polopoly/dist/current"

# Type of environment: ci, staging or production
DEPLOYENVIRONMENT="production"

# The server responsible for Polopoly deployment
POLOPOLYDEPLOYSERVER="jboss.prod"

# Sysadmin password
SYSADMINPWD=sysadmin

# DB host
DB_HOST=db.prod

# JBoss host
JBOSS_HOST=jboss.prod


# Admin servers
ADMINSERVERS=(adm.prod)


# Front servers
FRONTSERVERS=(fe1.prod fe2.prod)


# Solr Master servers
SOLRMASTERSERVERS=(search.prod)


# Solr Master indexdir
SOLRMASTERINDEXDIR="/opt/polopoly/solr.home"

# Solr Slave servers
SOLRSLAVESERVERS=(fe1.prod fe2.prod)

WEBCONTAINER=/opt/tomcat
