##################################################
# Prod env installation specific variables


# the folder on kataweb ftp server where the distribution files are uploaded
FTP_DIST_FOLDER=espresso/prod

# Very important variables that can cause release script to malfunction if missing
MUSTBEDEFINED=(DISTDIRECTORY RELEASEDIRECTORY DEPLOYENVIRONMENT)

# Directory where the distribution files can be located 
DISTDIRECTORY="/var/lib/polopoly/dist/archive"

# Directory where the current release can be located
RELEASEDIRECTORY="/var/lib/polopoly/dist/current"

# Type of environment: ci, staging or production
DEPLOYENVIRONMENT="production"

# The server responsible for Polopoly deployment
POLOPOLYDEPLOYSERVER="jboss"

# Sysadmin password
SYSADMINPWD=sysadmin

# DB host
DB_HOST=db.prod.per

# JBoss host
JBOSS_HOST=jboss

# JBoss host DR
JBOSS_HOST_DR=jboss.dr.per

# Admin servers
ADMINSERVERS=(adm.prod.per)

# Admin servers DR
ADMINSERVERS_DR=(adm.dr.per)

# Front servers
FRONTSERVERS=(fe1.prod.per fe2.prod.per)

# Front servers DR
FRONTSERVERS_DR=(fe1.dr.per fe2.dr.per)

# Solr Master servers
SOLRMASTERSERVERS=(search)

# Solr Master servers DR
SOLRMASTERSERVERS_DR=(search.dr.per)

# Solr Master indexdir
SOLRMASTERINDEXDIR="/var/lib/polopoly/index"

# Solr Slave servers
SOLRSLAVESERVERS=(fe1.prod.per fe2.prod.per)

WEBCONTAINER=/opt/tomcat
