##################################################
# Stage env installation specific variables

# whether DB should be clean with this release (0: yes, 1: no)
[ -z $DB_CLEAN ] && DB_CLEAN=1

# the folder on kataweb ftp server where the distribution files are uploaded
FTP_DIST_FOLDER=espresso/stage

# Very important variables that can cause release script to malfunction if missing
MUSTBEDEFINED=(DISTDIRECTORY RELEASEDIRECTORY DEPLOYENVIRONMENT)

# Directory where the distribution files can be located 
DISTDIRECTORY="/opt/polopoly/archive"

# Directory where the current release can be located
RELEASEDIRECTORY="/opt/polopoly/dist"

# Type of environment: ci, staging or production
DEPLOYENVIRONMENT="staging"

# The server responsible for Polopoly deployment
POLOPOLYDEPLOYSERVER="jboss"

# Sysadmin password
SYSADMINPWD=sysadmin

# DB host
DB_HOST=db.stage.per

# JBoss host
JBOSS_HOST=jboss

# Admin servers
ADMINSERVERS=(adm.stage.per)

# Front servers
FRONTSERVERS=(fe1.stage.per fe2.stage.per)

# Solr Master servers
SOLRMASTERSERVERS=(search)

# Solr Master indexdir
SOLRMASTERINDEXDIR="/var/lib/polopoly/index"

# Solr Slave servers
SOLRSLAVESERVERS=(fe1.stage.per fe2.stage.per)

WEBCONTAINER=/opt/tomcat



